<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pngtree_school_education_logo_png_image_4136147"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pngtree_school_education_logo_png_image_4136147"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutionApp">
        <activity
            android:name=".DisplayFees"
            android:exported="false" />
        <activity
            android:name=".AddNotes"
            android:exported="false" />
        <activity
            android:name=".LiveClasses"
            android:exported="false" />
        <activity
            android:name="com.fileViewer.PDFViewer"
            android:exported="false" />
        <activity
            android:name="com.fileViewer.VideoViewer"
            android:exported="false" />
        <activity
            android:name="com.fileViewer.ImageViewer"
            android:exported="false" />
        <activity
            android:name=".StudyMaterials"
            android:exported="false" />
        <activity
            android:name=".Teacher_Attendance"
            android:exported="false" />
        <activity android:name="com.student.StudentFeesDetails" />
        <activity android:name=".FeesDetails" />
        <activity
            android:name="com.common.SplastScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.register_Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddSubject" />
        <activity android:name="com.student.StudentTask" />
        <activity android:name=".Teacher_task" />
        <activity android:name=".StudentDetailsActivity" />
        <activity android:name="com.register_Login.Registration_Parents" />
        <activity android:name="com.register_Login.Student_Registration" />
        <activity android:name="com.register_Login.Teacher_Registration" />
        <activity android:name="com.register_Login.WhoAreYou" />
        <activity android:name=".TutionActivity" />
        <activity android:name="com.student.Student" />
        <activity android:name=".AllStudentsList" />
        <activity
            android:name="com.register_Login.OTPValidation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>